<head>
  <! -- header.html end -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{{ page.title }}</title>
  {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
  {% if site.author.name %}<meta name="author" content="{{ site.author.name }}">{% endif %}

  <link rel="shortcut icon" href="{{ site.BASE_PATH }}/favicon.png" type="image/icon">
  <link rel="icon" href="{{ site.BASE_PATH }}/favicon.png" type="image/icon">

  <link href='http://fonts.googleapis.com/css?family=Raleway|Open+Sans:400,300,700|PT+Serif|Lato|Oswald:400,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ site.BASE_PATH }}/assets/resources/foundation/css/foundation.min.css">		
  <link rel="stylesheet" href="{{ site.BASE_PATH }}/assets/resources/font-awesome/css/font-awesome.min.css"> 

  <link rel="stylesheet" href="{{ site.BASE_PATH }}/assets/css/site.css"> 
  <link rel="stylesheet" href="{{ site.BASE_PATH }}/css/zenburn.css"> 

  <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.BASE_PATH }}/feed.xml">

  <script src='{{ site.BASE_PATH }}/assets/resources/jquery/jquery.min.js'></script>  
  <script src="{{ site.BASE_PATH }}/assets/resources/foundation/js/foundation.min.js"></script>
  <script>$(document).foundation();</script>
</head>
